<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6h9qlml4mCSBg-KCK00jFABLztAalD7A</string>
	<key>GCM_SENDER_ID</key>
	<string>476908246659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bvcoenm.darpan</string>
	<key>PROJECT_ID</key>
	<string>abhiyaan-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>abhiyaan-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476908246659:ios:45ff6bcbd750c1f135edb6</string>
</dict>
</plist>