<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqCa76freIR8U4h3QI31OacAhQ1qeWVcY</string>
	<key>GCM_SENDER_ID</key>
	<string>601824246739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bvcoenm.darpan</string>
	<key>PROJECT_ID</key>
	<string>darpan-b94d6</string>
	<key>STORAGE_BUCKET</key>
	<string>darpan-b94d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601824246739:ios:e31faf3faef792c80b4d26</string>
</dict>
</plist>